@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap");
h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: Poppins;
  font-weight: 400;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1160px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 15px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 732px) {
  ._ibg img {
    width: 122%;
    height: 122%;
  }
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 74px;
  }
}
.header__menu {
  margin: 0px 0px 0px 223px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
.header__logo {
  margin-left: 15%;
  margin-top: 2%;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  line-height: 40px;
  display: table;
  table-layout: fixed;
}

.menu__list .menu__item {
  display: table-cell;
}

.menu__list .menu__link {
  color: #212832;
  font-family: Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  text-decoration: none;
  font-size: em(17px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
}

.menu__list .menu__link:hover {
  font-size: em(23px);
  font-family: "OpenSansBold", sans-serif;
  -webkit-box-shadow: 0px 2px 2px 0px #fff1da;
          box-shadow: 0px 2px 2px 0px #fff1da;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #f46b09;
}

@media (max-width: 750px) {
  .menu__list .menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 15px;
    font-weight: 500px;
  }
}
.menu__item {
  margin: 0px 65px 0px 0px;
  text-align: center;
}

.menu__item_frame {
  text-align: center;
  border: 1px solid;
  border-color: #212832;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 550px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 300px 0px 280px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

.main-block__image {
  position: absolute;
  width: 94vh;
  height: 94vh;
  top: 0;
  right: 0;
}

.image_traveller {
  margin-top: 15%;
}

.main-block__anime {
  display: inline-block;
  position: relative;
}

.main-block__anime .main-block__plane_anime {
  display: inline-block;
  position: relative;
  margin-top: 127%;
  margin-left: 17%;
  padding-bottom: 37%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes fly {
  0% {
    left: 0px;
  }
  60% {
    top: 220px;
  }
  100% {
    left: 700px;
  }
}

@keyframes fly {
  0% {
    left: 0px;
  }
  60% {
    top: 220px;
  }
  100% {
    left: 700px;
  }
}
.main-block__image .main-block__plane {
  margin-left: 83%;
  padding-bottom: 22%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 13%;
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}
@media (max-width: 732px) {
  .image_traveller {
    -o-object-position: left;
       object-position: left;
  }
}
.main-block__title {
  font-size: 84px;
  font-family: Volkhov;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #181e4b;
  line-height: 120%;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 36px;
  }
}
.main-block__text {
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #5e6282;
  line-height: 180%;
}

@media (max-width: 479px) {
  .main-block__text {
    font-size: 11px;
    font-weight: 500;
    color: #44475e;
  }
}
.main-block__part {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: #df6951;
  text-transform: uppercase;
  line-height: 30px;
}

@media (max-width: 479px) {
  .main-block__part {
    font-size: 15px;
  }
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__button {
  text-decoration: none;
  background-color: #f1a501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin-top: 2.8%;
  margin-bottom: 8%;
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.service {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  left: 154;
  top: 936px;
  background: url(../img/Group\ 4.png);
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: right;
}

.servise__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 670px) {
  .servise__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 670px) {
  .servise__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 992px) {
  .servise__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.service__category {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
  text-align: center;
  margin-top: 0%;
}

.service__title {
  font-family: volkhov;
  font-style: normal;
  font-weight: 750;
  font-size: 50px;
  line-height: 64px;
  color: #14183e;
  text-align: center;
  margin-top: 0;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0, 8%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__item {
  position: relative;
  text-align: center;
  width: 240px;
  height: 314px;
  background-color: #fff;
  border-radius: 36px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
}

.service__item:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.service__item_hover {
  width: 307px;
  height: 344px;
  justify-items: center;
  padding-left: 2.4%;
  background-color: #fff;
}

.service__item_hover:hover {
  background-image: url(../img/Rectangle\ 157.svg);
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 100%;
}

.service__item_title {
  font-family: Sans;
  font-weight: 600;
  font-size: 20px;
  color: #1e1d4c;
  line-height: 27px;
  text-align: center;
}

.service__item_text {
  font-family: poppins;
  font-weight: 500;
  font-size: 16px;
  color: #5e6282;
  line-height: 26px;
  text-align: center;
}

.service__item_picture-plane {
  width: 92px;
  height: 78px;
}

.destination {
  margin-left: 13%;
  margin-right: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1102px;
  top: 1614px;
}

.destination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destination__photo-helsinki {
  background-image: url(../img/Decore\ vave.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 96%;
}

.destination_img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.destination_img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.book {
  margin-left: 6%;
  top: 2317px;
  position: absolute;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__container {
  width: 1114px;
  height: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0%;
}

.book__photo_group {
  padding-top: 14%;
  width: 557px;
  height: 492px;
  display: inline-block;
  position: absolute;
}

.book__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.book__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.book-block__text {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  color: #5e6282;
  font-size: 18px;
  line-height: 27px;
  margin-left: 30%;
}

.text_content {
  padding-right: 6%;
}

.book-block__title {
  font-family: volkhov;
  font-style: normal;
  font-weight: 700px;
  font-size: 38px;
  text-transform: capitalize;
  color: #14183e;
  margin-left: 30%;
}

.book__item_title {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #5e6282;
  padding-bottom: 1;
  margin: 0;
}

.book__item_text {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 3px;
  margin: 0;
  color: #5e6282;
}

.book__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}

.book__menu {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book-block__icons {
  margin-top: 2.1%;
  margin-left: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.4%;
}

.book__list {
  padding: 0 0 0 10px;
}

.book__photo_card {
  position: absolute;
  width: 370px;
  height: 400px;
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}

.book__photo_image_card {
  -webkit-filter: box-shadow 0px 4px 4px rgba 0 0 0 0.25;
          filter: box-shadow 0px 4px 4px rgba 0 0 0 0.25;
  border-radius: 24px;
}

.book__photo_text {
  margin-left: 12%;
  text-align: left;
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
}

.book__photo_text_content {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
  text-align: left;
  margin-left: 3%;
}

.book__photo_background {
  border-radius: 50%;
  padding: 0 0 0 0;
  position: relative;
  border: #000000 3px solid;
  width: 354px;
  height: 367px;
  background-color: #59b1e6;
  opacity: 0.4;
  -webkit-filter: drop-shadow(0px 0px 4px rgba 0 0 0 0.25);
          filter: drop-shadow(0px 0px 4px rgba 0 0 0 0.25);
}

.book__photo_icon-panel {
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.text_content-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #84829a;
  font-size: 16px;
  font-family: poppins;
}

.book__photo_card-rome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2%;
  margin-left: 60%;
  position: absolute;
  width: 263px;
  height: 129px;
  border-radius: 18px;
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.rome__photo_image_card {
  margin-top: 10%;
  position: absolute;
  width: 50px;
  height: 50px;
}

.book__photo_card-rome_text_content {
  font-size: 17px;
  font-weight: 500;
  font-family: poppins;
  letter-spacing: 0, 35em;
  color: #84829a;
  margin-top: 10%;
}

.book__photo_card-rome_text_content_rome {
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
  letter-spacing: 0, 15em;
  color: #080809;
  margin-top: 5%;
}

.book__photo_card-rome_text_content_completed {
  font-size: 14px;
  font-weight: 500;
  font-family: poppins;
  letter-spacing: 0, 55em;
  color: #080809;
  margin-top: 5%;
}

.book__photo_card-rome_text_content_40 {
  color: #8a79df;
}

.book__photo_card-rome_info {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.testimonials {
  margin-left: 6%;
  top: 2900px;
  position: absolute;
  width: 1037;
  height: 279;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 8%;
}

.testimonials__title {
  width: 541px;
  height: 279px;
  position: relative;
  margin-left: 0%;
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 3%;
  border-radius: 5px;
  width: 504px;
  height: 245px;
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.testimonials__card-text {
  font-family: poppins;
  font-weight: 500;
  font-size: 15px;
  color: #5e6282;
  line-height: 32px;
  margin-top: 13%;
}

.testimonials__card-text-name {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  color: #5e6282;
  line-height: 27px;
}

.testimonials__card-text-sign {
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
  color: #5e6282;
  line-height: 21px;
}

.testimonials__photo {
  width: 50px;
  height: 50px;
}

.testimonials__card-info {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brands {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 3261px;
  position: absolute;
  max-width: 1073px;
}

.brands__brand-list {
  margin-left: 20%;
  gap: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.axon {
  width: 130px;
  height: 130px;
}

.jetstar {
  width: 173px;
  height: 130px;
}

.expedia {
  width: 162px;
  height: 130px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 468519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.qantas {
  width: 162px;
  height: 132px;
}

.alitalia {
  width: 140px;
  height: 130px;
}

.input {
  margin-left: 12%;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url(../img/Group\ 5.svg);
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: 100%;
}

.input__background {
  top: 3447px;
  position: absolute;
  width: 1170px;
  height: 407px;
  background-color: #eeecf6;
  border-radius: 129px 20px 20px 20px;
}

.input__background {
  background-image: url(../img/Mask\ Group.png);
  background-repeat: no-repeat;
  z-index: 1%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.input__text {
  margin-top: 4%;
  margin-bottom: 0%;
  margin-left: 13%;
  width: 859px;
  height: 108px;
  font-family: poppins;
  font-weight: 600;
  font-size: 33px;
  color: #5e6282;
  line-height: 54px;
  text-align: center;
  color: #5e6282;
}

.input__button {
  text-decoration: none;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 68px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin-top: 2.8%;
  margin-bottom: 8%;
}

.input__aplication {
  border-radius: 4px;
  border: none;
  width: 421px;
  height: 68px;
  padding: 5px 36px;
  margin-top: 2.8%;
  margin-bottom: 8%;
}

.input__aplication-button {
  margin-top: 7%;
  gap: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 3900px;
  max-width: 1717.94px;
  height: 633.86;
}

.footer__body {
  margin-left: 8%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 7%;
}

.footer__link-text {
  font-family: poppins;
  font-weight: 500;
  font-size: 18px;
  color: #5e6282;
  line-height: 124.5px;
}

.footer__logo {
  font-family: poppins;
  font-weight: 500;
  font-size: 44px;
  color: #181e4b;
  line-height: 66px;
  margin-top: 23%;
  margin-bottom: 0%;
}

.footer__text {
  width: 207px;
  height: 48px;
  font-family: poppins;
  font-weight: 500;
  font-size: 13px;
  color: #5e6282;
}

.footer__menu {
  max-width: 474px;
  height: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.footer__menu_column {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__link-text {
  width: 120px;
  height: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: none;
  font-family: poppins;
  font-weight: 500;
  font-size: 16px;
  color: #5e6282;
  line-height: 124.5px;
}

.footer__menu_title {
  text-align: left;
  height: 26px;
  font-family: poppins;
  font-weight: 700;
  font-size: 21px;
  color: #080809;
  line-height: 124.5px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 207px;
  height: 133px;
}

.footer__rights {
  text-align: center;
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
  color: #5e6282;
  line-height: 94.5px;
}

.footer__brand-areal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instagram {
  margin-top: 1%;
  width: 45px;
}

.footer__brand-social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1%;
}

.footer__brand-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}/*# sourceMappingURL=style.css.map */